<!--<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-black" id="main_navbar">-->
<nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-black shadow">
    <a class="navbar-brand" href="/">{{ .Site.Title }}</a>
<!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_navbar"-->
<!--    aria-controls="main_navbar" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            <li class="navbar-item {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}">
                <a class="nav-link" href="{{ .URL }}" title="{{ .Title }}">
                    {{ .Name }}
                    {{ .Pre }}
                </a>
            </li>
            {{ end }}
        </ul>
    </div>
</nav>
