$pink-50: #f9c5ce;
$pink-100: #f6a8b5;
$pink-200: #f49aa9;
$pink-300: #f38b9d;
$pink-400: #f17d91;
$pink-500: #f06f85;
$pink-600: #d86377;
$pink-700: #c0586a;
$pink-800: #a84d5d;
$pink-900: #90424f;

$red-50: #f8bcbe;
$red-100: #f48f93;
$red-200: #f2797d;
$red-300: #f06267;
$red-400: #ee4c52;
$red-500: #ea2027;
$red-600: #d21c23;
$red-700: #bb191f;
$red-800: #a3161b;
$red-900: #8c1317;

$deep-orange-50: #f8bda7;
$deep-orange-100: #f49c7b;
$deep-orange-200: #f38b65;
$deep-orange-300: #f17b4f;
$deep-orange-400: #ef6a39;
$deep-orange-500: #ee5a24;
$deep-orange-600: #d65120;
$deep-orange-700: #be481c;
$deep-orange-800: #a63f19;
$deep-orange-900: #8e3615;

$orange-50: #fbd9a5;
$orange-100: #fac678;
$orange-200: #f9bd62;
$orange-300: #f8b34b;
$orange-400: #f7aa35;
$orange-500: #f7a11f;
$orange-600: #d3901b;
$orange-700: #c58018;
$orange-800: #ac7015;
$orange-900: #946012;

$amber-50: #fff3cf;
$amber-100: #ffe7a0;
$amber-200: #ffe188;
$amber-300: #ffdb70;
$amber-400: #ffcf41;
$amber-500: #ffc412;
$amber-600: #e5b010;
$amber-700: #cc9c0e;
$amber-800: #b2890c;
$amber-900: #99750a;

$yellow-50: #fff9c4;
$yellow-100: #fff59d;
$yellow-200: #fff389;
$yellow-300: #fff175;
$yellow-400: #ffef62;
$yellow-500: #ffeb8b;
$yellow-600: #e5d335;
$yellow-700: #ccbc2f;
$yellow-800: #b2a429;
$yellow-900: #998d23;

$lime-50: #e7f4af;
$lime-100: #dcef87;
$lime-200: #d6ec73;
$lime-300: #d0ea5f;
$lime-400: #cae74b;
$lime-500: #c5e538;
$lime-600: #b1ce32;
$lime-700: #9db72c;
$lime-800: #89a027;
$lime-900: #768921;


$light-green-50: #daeaaf;
$light-green-100: #c8df87;
$light-green-200: #bfda73;
$light-green-300: #b6d55f;
$light-green-400: #add04b;
$light-green-500: #a4cb38;
$light-green-600: #93b632;
$light-green-700: #83a22c;
$light-green-800: #728e27;
$light-green-900: #627921;

$green-50: #99d4ac;
$green-100: #66be83;
$green-200: #4cb46e;
$green-300: #33a95a;
$green-400: #199e45;
$green-500: #009431;
$green-600: #00852c;
$green-700: #007627;
$green-800: #006722;
$green-900: #00581d;

$dark-green-50: #99d4ac;
$dark-green-100: #66b383;
$dark-green-200: #4cb46e;
$dark-green-300: #33a95a;
$dark-green-400: #199e45;
$dark-green-500: #009431;
$dark-green-600: #00852c;
$dark-green-700: #007627;
$dark-green-800: #006722;
$dark-green-900: #00581d;

$teal-50: #99dfcf;
$teal-100: #66c0b7;
$teal-200: #4cb5ab;
$teal-300: #33ab9f;
$teal-400: #19a093;
$teal-500: #009687;
$teal-600: #008779;
$teal-700: #00786c;
$teal-800: #00695e;
$teal-900: #005a51;

$light-blue-50: #c7e3ff;
$light-blue-100: #abd5ff;
$light-blue-200: #9dceff;
$light-blue-300: #8fc7ff;
$light-blue-400: #81c0ff;
$light-blue-500: #74baff;
$light-blue-600: #68a7e5;
$light-blue-700: #5c94cc;
$light-blue-800: #5182b2;
$light-blue-900: #456f99;

$cyan-50: #b1e6ed;
$cyan-100: #8adae4;
$cyan-200: #77d4e0;
$cyan-300: #63cedb;
$cyan-400: #50c8d7;
$cyan-500: #3dc2d3;
$cyan-600: #36aebd;
$cyan-700: #309ba8;
$cyan-800: #2a8793;
$cyan-900: #24747e;

$blue-50: #AFC7F3;
$blue-100: #87ABEE;
$blue-200: #739DEB;
$blue-300: #5F8FE8;
$blue-400: #4B81E5;
$blue-500: #3773E3;
$blue-600: #3167CC;
$blue-700: #2C5CB5;
$blue-800: #26509E;
$blue-900: #214588;

$purple-50: #ebcdf9;
$purple-100: #e1b5f6;
$purple-200: #dca8f5;
$purple-300: #d79cf3;
$purple-400: #d290f2;
$purple-500: #cd84f1;
$purple-600: #b876d8;
$purple-700: #a469c0;
$purple-800: #8f5ca8;
$purple-900: #7b4f90;

$deep-purple-50: #CFBAEC;
$deep-purple-100: #B798E2;
$deep-purple-200: #AB87DE;
$deep-purple-300: #9F76D9;
$deep-purple-400: #9365D4;
$deep-purple-500: #8854D0;
$deep-purple-600: #7A4BBB;
$deep-purple-700: #6c43a6;
$deep-purple-800: #5f3a91;
$deep-purple-900: #51327c;

$indigo-50: #bbbce3;
$indigo-100: #9a9bd6;
$indigo-200: #898acf;
$indigo-300: #787ac8;
$indigo-400: #6769c1;
$indigo-500: #5759bb;
$indigo-600: #4e50a8;
$indigo-700: #454795;
$indigo-800: #3c3e82;
$indigo-900: #343570;

$grey-50: #eeedeb;
$grey-100: #e5e4e1;
$grey-200: #dddbd7;
$grey-300: #ccc9c4;
$grey-400: #bbb7b0;
$grey-500: #aaa69d;
$grey-600: #88847d;
$grey-700: #77746d;
$grey-800: #66635e;
$grey-900: #55534e;

$blue-grey-50: #cfd8dc;
$blue-grey-100: #afbec5;
$blue-grey-200: #9fb1b9;
$blue-grey-300: #8fa4ad;
$blue-grey-400: #8f97a2;
$blue-grey-500: #607d8b;
$blue-grey-600: #56707d;
$blue-grey-700: #4c646f;
$blue-grey-800: #435761;
$blue-grey-900: #394b53;

$brown-50: #d3beb0;
$brown-100: #bd9e88;
$brown-200: #b28e75;
$brown-300: #a77e61;
$brown-400: #9c6e4d;
$brown-500: #915e3a;
$brown-600: #825434;
$brown-700: #744b23;
$brown-800: #654128;
$brown-900: #573822;
