@import "colors/material";

.markdown p {
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.markdown h1 {
  font-weight: 400;
  font-size: 3rem;
}

.markdown h2 {
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 1rem;
}

.markdown h3 {
  font-size: 2rem;
}

.markdown h4 {
  font-size: 1.5rem;
}

.markdown h5 {
  font-size: 1.25rem;
}

.markdown h6 {
  font-size: 1rem;
}

.markdown a {
  color: $green-300;
}
.markdown a:hover {
  color: $green-700;
}

.markdown ul {
  margin-bottom: 1.25rem;
  margin-left: 1.5rem;
  list-style: disc;
}

.markdown ul ul {
  margin-bottom: 0;
}

.markdown li {
  margin-left: 1.5em;
  list-style-position: outside;
  padding-left: 1rem;
}

.markdown ol {
  margin-bottom: 1.25rem;
  margin-left: 1.5rem;
}

.markdown ol ol {
  list-style-type: lower-alpha;
  margin-bottom: 0;
}

.markdown ol ol ol {
  list-style-type: lower-roman;
}

.markdown em {
  font-style: italic;
}

.markdown strong {
  font-weight: 700;
}

.markdown hr {
  position: relative;
  margin: 1.67rem 0;
  border: 0;
  border-top: 1px solid $secondary;
}

.markdown abbr {
  font-size: 0.8rem;
  font-weight: bold;
  color: $blue-grey-300
}

.markdown abbr[title] {
  cursor: help;
  border-bottom: 1px dotted $blue-grey-300;
}

.markdown blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: $blue-grey-400;
  border-left: .25rem solid $grey-600;
}

.markdown blockquote p:last-child {
  margin-bottom: 0;
}

.markdown table {
  margin: 2rem 0 2rem 0;
  width: 100%;
  border: 1px solid $blue-grey-50;
  border-collapse: collapse
}

.markdown td,
.markdown th {
  padding: .25rem .5rem;
  border: 1px solid $blue-grey-50;
  //text-align: center;
  background-color: #f7f7f7;
}

.markdown tbody tr:nth-child(odd) td,
.markdown tbody tr:nth-child(odd) th {
  background-color: darken(#f7f7f7, 10%)
}

.markdown tbody tr:nth-child(even) td,
.markdown tbody tr:nth-child(even) th {
  background-color: #f7f7f7
}

.markdown pre {
  border-radius: 3px;
}

.markdown img {
  display: block;
  margin: 2rem auto;
  max-width: 100%;
}

.markdown p > code {
  border: 1px solid $grey-200;
  border-radius: 4px;
  padding: 1px 4px 1px 4px;
  background-color: $grey-50;
}
